---
const { src, alt, class: className = '' } = Astro.props;
---

<div class={`absolute ${className}`}>
  <img
    src={src}
    alt={alt}
    class="my-image-right w-30 drop-shadow-2xl drop-shadow-purple-600/10 my-animate opacity-0 xl:opacity-40"
  />
</div>

<script>
  const floatImages = document.querySelectorAll('.my-image-right');

  const moveImages = () => {
    floatImages.forEach((image) => {
      const x = Math.random() * 100 - 20;
      const y = Math.random() * 100 - 20;

      //@ts-ignore
      image.style.transform = `translate(${x}px, ${y}px)`;
    });
  };

  moveImages();

  setInterval(moveImages, 4000);
</script>
